<% include layout.ejs %>
<script type="text/javascript" src="/javascripts/jquery-latest.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect();
    socket.on('date', function(data) {
        $('#date').text(data.date);

    });
    socket.on('message', function(data) {

        $('#message').append(data.msg+'<br>');
    });

</script>
<style>
    * { margin: 0; padding: 0; box-sizing: border-box; }
    body { font: 13px Helvetica, Arial; }


    #row{
        height: 300px;
 width: 960px;
        background-color: #eeeeee;

    }
</style>



<div class="hero-unit">
  <h1>Line訊息連結系統</h1>
  <p>Line訊息連結系統 是一個基於 Node.js 的練習小功能。</p>
  <p>
    <!--<a class="btn btn-primary btn-large" href="/login">登入</a>
    <a class="btn btn-large" href="/reg">立即註冊</a>-->

  </p>

</div>
<form method="post" action="/post" class="well form-inline center" style="text-align:center;">
    <input type="text" class="span8" name="post">
    <button type="submit" class="btn btn-success"><i class="icon-comment icon-white"></i>發言</button>
</form>




<div class="row" >
    <div class="span4" id="row">
        <h2><a>隨</a> 說</h2>
        <p id="message"></p>
    </div>
</div>


<% include layout2.ejs %>

