
    <div class="footer">
	Copyright©2018 All Rights Reserved
	<div id="date"></div>
    </div>
    </body>

    <script type="text/javascript" src="/javascripts/bootstrap.js"></script>

    </div>
</html>